/* Media querys */

/* Celulares tablet */
@media (max-width:834px) {

    h1,
    h2,
    h3 {
        font-size: 2.8rem;
    }

    /* Navbar */

    .content_navbar {
        padding: .8rem;
        background-color: var(--bg-2);
        top: 0;
    }

    .logo_celphone {
        width: 4.8rem;
    }


    .content_navbar a {
        display: none;
    }

    /* Inicio */

    .inicio {
        margin-top: 4rem;
        flex-direction: column;
        width: 36rem;
    }

    .robot_name {
        font-size: 2.2rem;
        text-align: center;
    }

    .inicio_info p{
        font-size: 1.4rem;
        text-align: center;
        padding-top: 1.6rem;
    }

    .inicio_botones{
        display: flex;
        flex-direction: column;
        padding-left: 2.8rem;
        /* border: solid red 3px; */

    }

    .robot {
        display: none;
    }

    .robot_mobile{
        display: block;
        height: 80rem;
    }

}

@media (max-width: 480px) {
    .logo_celphone {
        display: block;
    }

    .logo_desktop {
        display: none;
    }



}

/* Desktop */
@media (min-width:1440px) {}