/* Media querys */

/* Celulares tablet */
@media (max-width:834px) {

    h1,
    h2,
    h3 {
        font-size: 2.8rem;
    }

    .content_navbar {
        /* border: red 3px solid; */
        padding: .8rem;
    }

    .logo_celphone{
        width: 4.8rem;
    }


    .content_navbar a {
        display: none;
    }

}

@media (max-width: 480px) {
    .logo_celphone {
        display: block;
    }

    .logo_desktop {
        display: none;
    }

}

/* Desktop */
@media (min-width:1440px) {}