/* General Reset and Variables */
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --bg-1: #021d2d;
    --bg-2: #021526;
    --bg-3: #16325B;
    --blue1: #227B94;
    --blue2: #78B7D0;
    --yellow1: #FFDC7F;
    --yellow2: #E2E2B6;
    --text1: #fffefb;
    --text2: #000000;
    --title: "Archivo Black", sans-serif;
    --description: "Maven Pro", sans-serif;
}

body {
    background-color: var(--bg-1);
    overflow-x: hidden;
    font-family: var(--description);
}

/* Titles and Text */
h1 {
    font-size: 4.2rem;
    font-family: var(--title);
    color: var(--yellow1);
}

h2,
h3 {
    font-family: var(--title);
    font-size: 2.8rem;
    color: var(--yellow1);
}

p {
    color: var(--yellow2);
    font-size: 2.4rem;
    padding-top: .8rem;
}

main {
    /* border: solid red 3px; */
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 2rem;
}

/* Navbar */
.content_navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
    /* Fondo transparente */
    z-index: 100;
    /* background-color: var(--bg-2); */
}

.content_navbar.scrolled {
    background-color: var(--bg-2); /* Fondo cuando haces scroll */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra para el efecto */
}

.navbar {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 3.2rem;
    /* width: 60%; */
    list-style: none;
    padding-right: 2rem;
    /* border: solid red 3px; */
}

.navbar a {
    color: var(--yellow2);
    font-size: 1.6rem;
    text-decoration: none;
    border-bottom: .2rem solid transparent;
    transition: border-bottom-color 0.3s ease;
}

.navbar a:hover {
    border-bottom-color: var(--yellow2);
}

.logo_desktop {
    width: 21rem;
    /* border: solid yellow 3px; */
}

.logo_celphone {
    display: none;
}

.content_navbar button {
    border: none;
    background-color: var(--blue1);
    border-radius: 2.4rem;
    color: var(--text1);
    font-size: 1.8rem;
    font-weight: 600;
    height: 3.8rem;
    width: 18rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.content_navbar button:hover {
    background-color: var(--blue2);
}

/* Sections */

.secciones {
    color: var(--yellow2);
    font-size: 3.6rem;
}

/* .projects{} */


/* Inicio */
.inicio {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    padding: 2rem;
    gap: 4rem;
}

.inicio_info {
    width: 70%;
    padding: 1rem;
    /* border: green 3px solid; */
}

.inicio_info p {
    font-size: 2.2rem;
    padding-bottom: 1rem;
}

.robot_name {
    font-size: 2.8rem;
}

.inicio_botones {
    display: flex;
    gap: .8rem;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 1.8rem; */
    /* border: solid red 3px; */
    width: 90%;
}

.robot {
    width: 50%;
    height: 100%;
}

.robot_mobile {
    display: none;
}

.gitHub,
.linkedIn,
.project_links a {
    border-radius: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    height: 3.4rem;
    width: 18rem;
    /* padding: .8rem; */
    color: var(--text1);
    transition: ease .2s;
}

.gitHub {
    background: linear-gradient(to right, var(--blue2), var(--yellow1));
    color: var(--bg-3);
}

.linkedIn {
    background-color: var(--blue2);
}

.linkedIn:hover,
.project_links a:hover {
    background-color: var(--bg-3);
}

/* About Me */
.aboutMe {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
    margin-top: 6rem;
}

.aboutMe_foto {
    height: 38rem;
    border-radius: 1.8rem;
}

.aboutMe_foto_cellphone{
    display: none;
}


.aboutMe_info {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 50%;
}

.aboutMe_info p{
    font-size: 1.6rem;
}

/* Skills */
.skills {
    /* border: solid red 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
    /* width: 80%; */
    height: 17.4rem;
    margin-top: 12rem;
}

.skills_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    gap: 1.8rem;
    padding: 4rem 1rem;
}

.skills_logo_tec{
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid blue 3px; */
}

.skills_logo_tec p {
    margin-top: 0.4rem; /* Espacio entre icono y texto */
    font-size: 1.2rem;
    color: var(--yellow1);
    text-align: center;
}

.skills_logo svg,
.logo_js {
    height: 12rem;
    width: 12rem;
    padding: 1rem;
}

/* Projects */
.projects {
    gap: 5.2rem;
    margin: 2rem 0 4rem;
}

.project {
    width: 60%;
    border-radius: 1.8rem;
    display: flex;
    gap: 1.8rem;
    box-shadow: 1rem 1rem 1.8rem var(--blue1);
}

.project_image {
    width: 42rem;
    height: 27.2rem;
    border-radius: 1.2rem;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

footer h3 {
    font-size: 2.4rem;
    color: var(--yellow1);
}